*{
    margin: 0%;
    padding: 0%;
}

body{
    background:linear-gradient(to top, rgba(0,0,0, 0.5)50%,rgba(0,0,0,0.5)50%), url('bg.jpg') no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size :cover;
    overflow: hidden; 
}

logo{
    color: #fff;
    font-size: 30px;
    padding-left: 10px;
    padding-top: 10px;
}

p{
    color: #fff;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;
}

.image img{
    width: 300px;
    height: 300px;
    padding-left: 10px;
    padding-top: 20px;
}

.text{
    color: #fff;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 20px;
    padding-top:20px;
}

ul{
    padding-left: 40px;
    padding-top: 10px;
}

ul a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.6s ease-in-out;
}

ul a:hover{
    color: blue;
}

/*Animated bubbles*/

.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 20px;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 30px;
}
